* {
    margin: auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: $colorblack;
    font-size: 100%;
    font-family: $typetext;
    color: $colorwhite;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

h1 {
    color: $colorwhite;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

p {
    font-size: 25px;
}