* {
    margin: auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: $colorblack;
    font-size: 100%;
    font-family: $typetext;
    color: $colorwhite;

    h1 {
        color: $colorwhite;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        text-align: center;
        color: $colortext;
        font-size: 25px;
    }
}

.background-eyes {
    @media only screen and (min-width: 768px) {
        background-image: url(https://media.giphy.com/media/3ov9jZfZ5GuNV17mYE/giphy.gif);
    }

    @media only screen and (min-width: 950px) {
        background-image: url(https://media.giphy.com/media/3ov9jZfZ5GuNV17mYE/giphy.gif);
    }
}

img {
    @extend %imagenes;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.cta-SeeMore {
    display: block;
    margin: 40px auto;
    padding: 15px;
    font-size: 23px;
    border: 3px solid $colorblack;
    color: $colortext;
    width: 15%;
    text-align: center;

    &:hover {
        cursor: pointer;
        border: 3px solid $colorwhite;
        padding: 15px;
        border-radius: 20%;
        transition: 2s;
        color: $colorwhite;
    }

    @include iconos();
}