* {
    margin: auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: $color7;
    font-size: 100%;
    font-family: $typetext;
    color: $color3;
}

.background-eyes {
    @media only screen and (min-width: 768px) {
        background-image: url(https://media.giphy.com/media/3ov9jZfZ5GuNV17mYE/giphy.gif);
    }

    @media only screen and (min-width: 950px) {
        background-image: url(https://media.giphy.com/media/3ov9jZfZ5GuNV17mYE/giphy.gif);
    }
}

img {
    @extend %imagenes;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}