@mixin flexnav($dis, $justify, $wrap, $align, $pad, $margin, $height) {
    display: $dis;
    justify-content: $justify;
    flex-wrap: $wrap;
    align-items: $align;
    padding-inline-start: $pad;
    margin-block: $margin;
    height: $height;
}

@mixin grid($ancho, $espacio) {
    display: grid;
    grid-template-columns: 1fr;
    gap: $espacio;
    width: $ancho;

    @media only screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }

    @media only screen and (min-width: 950px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@mixin iconos() {
    @media only screen and (min-width: 768px) {
        font-size: 4rem;
    }

    @media only screen and (min-width: 950px) {
        font-size: 25px;
    }
}

%titulo2 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

%imagenes {
    width: 300px;
    margin-top: 10px;
    position: fix;
    aspect-ratio: 1/1;
    object-fit: cover;
}