.link-button-section {
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
        position: relative;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
        letter-spacing: 0.5px;
        font-size: 1.5rem;
        margin: 40px auto;
        padding: 15px;
        text-align: center;

        &:hover {
            color: $colorbutton;
        }

        &:before {
            position: absolute;
            content: '';
            height: 2px;
            bottom: 0;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 50%;
            background: $colorbutton;
            transition: width .1s ease-in-out;
            color: inherit;
        }

        &:hover:before {
            width: 100%;
        }
    }
}