.flex-project {
    display: flex;
    justify-content: space-evenly;

    &__image {
        box-sizing: border-box;
        width: 40%;

        &-img {
            width: 150px;

            @media only screen and (min-width: 768px) {

                width: 300px;

            }

            @media only screen and (min-width: 950px) {

                width: 300px;

            }
        }
    }

    &__title {
        width: 20%;
        box-sizing: border-box;

        &-text {
            font-size: 10px;

            @media only screen and (min-width: 768px) {

                font-size: 15px;

            }

            @media only screen and (min-width: 950px) {

                font-size: 20px;

            }
        }

    }


}