.navbar-header {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  color: $colorwhite;
  font-size: 0.6rem;
  margin-top: 10px;

  .navbar-toggle {
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 18px;
    margin-bottom: 15px;
  }

  .navbar-menu {
    display: none;
    list-style: none;
    &.open {
      display: flex;
    flex-direction: column;
    }

    li {
      padding: 0.5rem 1rem;
      border-radius: 0.4rem;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 700;
      transition: 0.6s;
      
      &:active {
        scale: 0.92;
      }
      &:hover {
        background: rgb(2, 29, 78);
        background: linear-gradient(
          270deg,
          rgba(2, 29, 78, 0.681) 0%,
          rgba(31, 215, 232, 0.873) 60%
        );
        color: rgb(4, 4, 38);
      }
    }
  }

  @media only screen and (min-width: 768px) {
    height: 25px;
    font-size: 0.7rem;

    .navbar-toggle {
      display: none;
    }

    .navbar-menu {
      display: flex;
    }
  }

  @media only screen and (min-width: 950px) {
    height: 48%;
    max-height: 43px;
    font-size: 1rem;
    .navbar-menu {
      li{
        box-shadow: 0px 0px 60px #1f4c65;
        -webkit-box-reflect: below 10px
          linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  
      }
    }
  }
  #checkbox {
    display: none;
  }
  
  
  .navbar-toggle--bars {
    width: 100%;
    height: 4px;
    background-color: $colorbutton;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .navbar-toggle .navbar-toggle--bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .navbar-toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .navbar-toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .navbar-toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .navbar-toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
}
