@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #32302F;
}

 #choose-mood {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.main-title {
  color: white;
  font-size: 32px;
  font-family: 'Fredoka One', cursive;
}

.titles {
  color: white;
  font-size: 20px;
}

.cards-moods, .cards-feels {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards-moods_mood {
  width: 180px;
  height: 100px;
  background: #11468F;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.cards-moods_mood img {
  width: 80px;
}

.mood-button {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
}

input {
  display: none;
}

input:checked + label {
  background-color: #5D8BF4;
}

#choose-feel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feel-buttons {
  background-color: #11468F;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: transparent;
  width: 80px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

#messages {
  width: 280px;
  background: #EEEEEE;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.restarting-button {
  border: none;
  color: #11468F;
  font-family: 'Poppins', sans-serif;
}

.feels {
  display: grid;
  grid-template-columns: 150px 150px;
  color: white;
}

.player-victory, .pc-victory {
  font-size: 32px;
  margin-bottom: 0;
}

.feel-player, .feel-pc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 992px) {
  .cards-moods, .cards-feels {
    flex-direction: row;
  }
}