$portfolio-bg: #010409;
$portfolio-border: #1FD7E8DF;
$portfolio-white-text: #ffffff;
$portfolio-text-muted: #8c9196;
$portfolio-accent: #0969da;
$portfolio-accent-emphasis: #0550ae;
$portfolio-counter-bg: #d1d9e0;
$portfolio-hover-bg: #656c7633;
$portfolio-active-bg: #ffffff;
$portfolio-body-bg: #0d1117;
$portfolio-border-radius: 6px;
$project-sm: 560px;
$project-md: 768px;
$project-lg: 992px;
$project-xl: 1200px;
$project-xxl: 1400px;