.Flex-project {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 5rem 5rem 5rem 5rem;

    &__Img {
        width: 60%;
    }

    &__text_aaside {
        width: 40%;
    }
}