.navbar-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

    ul {
        @include flexnav(flex, space-evenly, wrap, center, 0, 0, 100%);
    }

    li {
        list-style: none;
        margin: 0 0.2rem;
        padding: 0.2rem;
        display: block;
        font-size: 20px;
        color: $colortext;
    }

    a {
        &:hover {
            color: $colorwhite;
            cursor: pointer;
            transition: 2s;
        }
    }
}